<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>seo-test</title>
    <meta name="google-site-verification" content="F67EAo9hMoYPYoyebt1BR5uuqHhhEolABiaA6wzs9Hs" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but seo-test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
