<template>
  <div id="app">

      <ul>
        <li>
          <router-link to="/seo-test/">
            Home
          </router-link>
        </li>
        <li>

          <router-link to="/seo-test/categoria">
            Categoria
          </router-link>

        </li>
        <li>

          <router-link to="/seo-test/productos">
            Productos
          </router-link>
        </li>
        <li>

          <router-link to="/seo-test/informacion">
            Informacion
          </router-link>
        </li>
      </ul>
  </div>
</template>

<script>

import RouterLink from 'vue-router';

export default {
  components: {  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
