<template>  
   
   <div>
      <h1>Información - Titulo de la seccion</h1>
      <p>
         Descripción - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo nostrum odit dolores adipisci accusamus, necessitatibus.
      </p>

      <p>
      	 Animi, expedita accusantium. Magni facilis quod perspiciatis assumenda soluta quam dolor voluptatum reiciendis quidem!
      </p>
   </div>

</template>

<script>


export default {
};
</script>

