<template>  
   
   <div>
      <h1>Productos</h1>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illo nostrum odit dolores adipisci accusamus, necessitatibus. Animi, expedita accusantium. Magni facilis quod perspiciatis assumenda soluta quam dolor voluptatum reiciendis quidem!
      </p>
   </div>

</template>

<script>

import axios from 'axios';

export default {
  name: "app",
data(){
    	return {
    		title: 'T',
    		description: 'De',
    	}
    },

    mounted(){

    	this.getMetaTag();
    },

    metaInfo () {
        	return {
		        title: this.title,
		        meta: [
		          { vmid: 'description', name: 'description', content: this.description },
		          { vmid: 'og:title', property: 'og:title', content: this.title },
		          { vmid: 'og:description', property: 'og:description', content: this.description },
		        ]
		    }
    },
    methods:{
    	getMetaTag(){

    		let data = new FormData();
	        data.append('slug', 'nuevo');

	    	axios.post('https://panelstarter.samurai.cl/getMetaTag', data )
	    	.then((response) => {
	    		console.log(response);
	    		this.title = response.data.meta_title;
	    		this.description = response.data.meta_description;
	    	})
	    	.catch((error)=>{
	    		return;
	    		console.log(error);
	    	})
    	}
    }
};
</script>

<style>


</style>
