<template>
  <div >

  </div>
</template>

<script>

import routes from "../routes.js";
import * as fs from 'fs-web';

export default {

    mounted(){

      console.log( routes );
      // let test = this.getRoutesList(routes, 'https://example.com');
      // console.log( test );

      let result = this.getRoutesXML();

      fs.writeFile('../../public/some-file.txt', 'foo')
      .then(function(){
         console.log( fs.readdir('../../public') );
            return fs.readdir('../../public');
        });

      console.log(result );

    },   
    methods:{
       getRoutesList(routes, pre) {
          return routes.reduce((array, route) => {
            const path = `${pre}${route.path}`;

            if (route.path !== '*') {
              array.push(path);
            }

            if (route.children) {
              array.push(...getRoutesList(route.children, `${path}/`));
            }

            return array;
          }, []);
        },

         getRoutesXML() {
            const list = this.getRoutesList(routes, 'https://zigamiklic.com')
               .map(route => `<url><loc>${route}</loc></url>`)
               .join('\r\n');
               
               return `<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
               ${list}
            </urlset>`;
         }
    }
};
</script>
